# Copy this file to .env and fill in the values

# Port for local development mock server
MOCK_SERVER_PORT=3001

# AWS region for deployment
AWS_REGION=eu-west-2 # London

# Node environment
# Options: development, production, test
NODE_ENV=development
